<div class="container">
    <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" >
        <div ngxSlickItem *ngFor="let slide of bannerSlides" class="slide">
            <img src="{{ slide.bannerImageUrl }}" alt="" width="100%">
        </div>
    </ngx-slick-carousel>
    <!-- <button (click) = "exploreProducts($event)">clickhere</button> -->
    <div *ngFor="let category of categories">
        <app-category [category]="category" (buttonClick)='exploreProduct($event)'></app-category>
    </div>
</div>
