<div class="container">
    <div class="categories-link" >
        <div class="category-title" *ngFor = "let category of categories" (click)="filterData(category.name)">
            {{ category.name }}
        </div>
    </div>
    <div class="display-area">
        <div class="tiles">
            <div class="tile" *ngFor = "let product of filteredData">
                <div class= "title">{{ product.name }}</div>
                <img class= "image" src="{{ product.imageURL }}" alt="">
                <div class = "description">{{ product.description }}</div>
                <div class="buy-now">
                    <div class="price">MRP Rs.{{ product.price }}</div>
                    <div class="button" (click) = "addItem( product )">Buy Now</div>
                </div>
            </div>
        </div>
    </div>
</div>
