.container{
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 80vh;
    grid-column-gap: 5px;
    .categories-link{
        background-color: #eaeaea;
        color: black;
        padding: 10px;
        .category-title{
            margin: 0 auto;
            padding: 10px;
            border-bottom: 1px solid black;
            cursor: pointer;
        }
    }
    .display-area{
        
        .tiles{
            display: grid;
            grid-template-columns: auto;
            grid-column-gap: 2px;
            grid-row-gap: 30px;
            @media (min-width: 768px){
                grid-template-columns: auto auto;
            }
            @media (min-width: 1024px){
                grid-template-columns: auto auto auto auto;
                padding: 15px;
            }
            .tile{
                @media (min-width: 768px){
                    height: calc((70vw - 5px)/2);
                    width: calc((70vw - 5px)/2);
                }
                @media (min-width: 1024px){
                    height: calc((45vw - 5px)/2);
                    width: calc((25vw - 5px)/2);
                }
                .title{
                    font-weight: 200;
                }
                .image{
                    
                    @media (min-width: 768px){
                        height: calc(((60vw - 5px)/2) - 30px);
                        width: calc((70vw - 5px)/2);
                    }
                    @media (min-width: 1024px){
                        height: calc((25vw - 5px)/2);
                        width: calc((25vw - 5px)/2);
                    }
                }
                .description{
                    background-color: #eaeaea;
                    @media (min-width: 1024px) {
                        height: 47px;
                        overflow: hidden;
                        font-size: 10px;
                    }
                }
                .buy-now{
                    //display: inline-block;
                    margin-top: 5px;
                    position: relative;
                    .price{
                        display: inline;
                    }
                    .button{
                        display: inline;
                        background-color: #D2042D;
                        font-size:12px;
                        color:white;
                        cursor: pointer;
                        padding: 4px;
                        position: absolute;
                        right: 0px;
                        @media (min-width: 768px){
        
                        }
                        @media (min-width: 1024px){
                
                        }
                    }
                }
            }
        }
    }

}