<div class="container">
    <div *ngIf="category.order % 2 != 0; else evenBlock" class="tiles-odd">
        <div class="image">
            <img src="{{ category.imageUrl }}" alt="">
        </div>
        <div class="metadata">
            <div class="title">{{ category.name }}</div>
            <div class="description">{{ category.description }}</div>
            <div class="button" (click) = "exploreProducts(category.name)"> Explore {{ category.name }} </div>
        </div>
    </div>
    <ng-template #evenBlock>
        <div class="tiles-even">
            <div class="metadata">
                <div class="title">{{ category.name }}</div>
                <div class="description">{{ category.description }}</div>
                <div class="button" (click) = "exploreProducts(category.name)"> Explore {{ category.name }} </div>
            </div>
            <div class="image">
                <img src="{{ category.imageUrl }}" alt="">
            </div>
        </div>
    </ng-template>
    
</div>
